<header class="navbar navbar-dark bg-dark text-light">
  <a href="/" class="logo d-flex font-weight-bolder">
    <img src="favicon.ico" height="32" alt="logo">
    <h4 class="ml-2 text-light">AMA</h4>
  </a>
  <nav>
    <a href="/" class="text-light">Home</a>
    <a href="/new-question" class="text-light ml-2">New Question</a>
  </nav>
</header>