<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="shortcut icon" href="favicon.ico" type="image/x-icon">
  <title>Error</title>
</head>
<body>
  <% if (error) { %>
  <p>True: <%= error %></p>
  <% } else { %>
  <p>No errors detected!</p>
  <% } %>

</body>
</html>