<%- include ('layout/head.ejs'); %>
<%- include ('layout/header.ejs'); %>

<main class="container m-5">
  <% if (error) { %>
    <h3><%= error %> <a href="/" class="btn btn-primary"> return</a></h3>
    <% } else { %>
    <h3>No errors detected!</h3>
    <% } %>
</main>

<%- include ('layout/footer.ejs'); %>