<header class="navbar navbar-dark bg-dark text-dark">
  <img src="favicon.ico" height="32" alt="logo">
  <nav>
    <a href="/new-question">New Question</a>
    <a href="/new-question">Forum</a>
  </nav>
</header>